.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.sets {
  width: 100%;
  max-width: 1200px;
}

.page_control {
  width: 4rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}