.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.title_input {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--text);
  font-size: 14pt;
}

.terms {
  width: 100%;
  max-width: 1200px;
}

.addItem {
  width: 100%;
  height: 50px;
  background-color: var(--box-bg);
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  max-width: 1200px;
  border: 1px solid var(--box-border);
}

.publish_button {
  margin-top: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  float: right;
  cursor: pointer;
  background-color: var(--publish-button-bg);
  width: fit-content
}
