:root {
  --bg: #E0E0E0;
  --text: black;
  --box-bg: lightgrey;
  --box-border: grey;
  --publish-button-bg: #5cb85c;
  --op-button-bg: #C4C4C4;
  --term-divider: grey;
  --placeholder: grey;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #202020;
    --text: #E4E4E4;
    --box-bg: #1A1A1A;
    --box-border: #3c3c3c;
    --publish-button-bg: #1d5b1d;
    --op-button-bg: #2F2F2F;
    --term-divider: #2F2F2F;
    --placeholder: #A4A4A4;
  }
  /* Set color of svgs */
  img {
    filter: invert(68%) sepia(95%) saturate(0%) hue-rotate(315deg) brightness(106%) contrast(109%); /* #E4E4E4 */
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: var(--text);
}

.container {
  padding: 0 2rem;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}

path {
  fill: var(--text);
}

/* Loading spinner */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--text);
  border-color: var(--text) transparent var(--text) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
