.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.create_button {
  padding: 5px 8px;
  background-color: lightgrey;
  border-radius: 3px;
  border: black 1px solid;
  cursor: pointer;
}