.nav_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.title_link {
    cursor: pointer;
}

.nav_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_right * {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav_svg {
    height: 1.5rem;
    padding: 0;
    padding-right: 7px;
}

.login_group {
    padding: 0;
}

.login_text {
    display: flex;
    align-items: center;
    padding: 0;
}

.login_text a {
    padding-right: 0;
}

.nav_label {
    padding: 0;
}

@media screen and (max-width: 600px) {
  .nav_label {
    display: none;
  }
}