.cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--box-bg);
    border: 1px solid var(--box-border);
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px 0;
    max-height: 10rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
    max-height: inherit;
    overflow: hidden;
}

.cont_right {
    text-align: right;
}