.term {
  display: grid;
  grid-template-columns: 1fr 3px 2fr;
  column-gap: 15px;
  width: 100%;
  background-color: lightgrey;
  border: 1px solid grey;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 10px 0;
}

.term p {
  margin: 0;
}

.term_div {
  background-color: grey;
  border-radius: 3px;
}
