.term {
  display: grid;
  grid-template-columns: 1fr 3px 2fr;
  column-gap: 15px;
  width: 100%;
  background-color: var(--box-bg);
  border: 1px solid var(--box-border);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 10px 0;
}

.term p {
  margin: 0;
}

.term_div {
  background-color: var(--term-divider);
  border-radius: 3px;
}
